*{
   margin: 0;
   padding: 0;
}
/* common shared styles */
body {
    font-family: 'Lato',sans-serif;
   
    font-family: 'Open Sans', sans-serif;

    
}
.primary{
    color: #FD6E0A;
}
.btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 18px 35px;
    
}
.section-title{
    text-align: center;
    color: #000;
    font-size: 35px;
    font-weight: 700;
    
}
/* nav related styles */
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0px 200px;
}
.nav-title {
    color:black;
    font-size: 45px;
    font-weight: 800;
    margin-top: 20px;
}

nav >ul {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: rgb(36, 33, 33);
}
/* header related style */
.header{
    background-color: rgb(226, 203, 203);
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat ;
   background-position: bottom right;
   background-size: 750px;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.banner .pic{
width: 800px;

}
.banner-greeting{
    font-size: 45px;
   color: gray;
   margin-bottom: 0;

}
.banner-title{
    font-size: 65px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-desc{
    max-width: 585px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
}
/* main section style */
.section{
   padding: 130px;
   border-radius: 2px;
   background-color: pink;
   margin: 130px 0;
}

.section-desc{
    text-align: center;
    color: grey;
    
        font-size: 18px;
     

}
/* about section style */